In [4]:
example=["laptop",39000,"window","lenovo","bengluru",39000,"lenovo","chikodi"]
print(example)
print(example.count("lenovo"))

['laptop', 39000, 'window', 'lenovo', 'bengluru', 39000, 'lenovo', 'chikodi']
2

In [24]:
#Compile time program
A= 10
B= 20
print(A+B)

#Run time program
x=int(input("enter x value:"))
y= int(input("enter y value:"))
print(x+y)

# Addition of 10 and 20 value is = 30
p= int(input("enter p value:"))
q= int(input("enter q value:"))
print("addition of",p,"and",q,"value is=",p+q)

first = float(input("enter first value:"))
second = float(input("enter second value:"))
print(first*second)

first_name=input("enter first name:")
last_name=input("enter last name:")
print(first_name + " " +last_name)

30
enter x value:10
enter y value:20
30
enter p value:10
enter q value:0
addition of 10 and 0 value is= 10
enter first value:10
enter second value:5
50.0
enter first name:arpita
enter last name:  vaskar
arpita   vaskar

In [27]:
i=input()
j=input()
print(i+j)

bkc
college
bkccollege

In [30]:
x=100
y=50
print(f'addition  of {x} and {y} value is ={x+y}')

addition  of 100 and 50 value is =150

In [31]:
#Hi, Good Morning My name is Arpita, i have completed PU in the year of 2024, currently i'm studing in KLE's BK BCA College Chikodi 591201
name= "Arpita"
course= "PU"
year = 2024
college= "KLE's BK BCA College Chikodi"
pincode= 591201
print(f'Hi, good morning my name is {name}, i have completed {course} in the year of {year}, currently i am studing in {college}{pincode}')

Hi, good morning my name is Arpita, i have completed PU in the year of 2024, currently i am studing in KLE's BK BCA College Chikodi591201

In [46]:
num1= 30
 num2= 15

print("addition of two number is:",num1+num2)
print()

print("subtraction of two number is:",num1-num2)
print()
print("multiplication of two number is :",num1*num2)
print()
print("division of two number is:",num1/num2)
print()
print("floor division of two number is:",num1//num2)
print()
print("modules of two number is:",num1%num2)
print()
print("exponent of two number is:",num1**num2                                                       ])
print()

addition of two number is: 45

subtraction of two number is: 15

multiplication of two number is : 450

division of two number is: 2.0

floor division of two number is: 2

modules of two number is: 0

exponent of two number is: 14348907000000000000000

In [49]:
x= 10
y= 13
print("equal :",x==y)
print("not equal :",x!=y)
print("greater then:",x>y)
print("less then:",x<y)
print("greater then equal:",x>=y)
print("less then equal:",x<=y)
print()
print("equal:",y==x)
print("not equal :",y!=x)
print("greater then:",y>x)
print("less then:",y<x)
print("greater then equal:",y>=x)
print("less then equal:",y<=x)

equal : False
not equal : True
greater then: False
less then: True
greater then equal: False
less then equal: True

equal: False
not equal : True
greater then: True
less then: False
greater then equal: True
less then equal: False

In [57]:
a=20
b=35
c=13
d=10

print(a==b and c<d)
print(13 != c and d< c)
print(b > a and d< c)
print(20 != a and c== b )
print(a < b or d ==c)
print((not(a<b))and 100< 200)
print(not (d==10))
print(35 != d or (not(20 == a)))
print(not(c <= b and (not(a <=c))))

False
False
True
False
True
False
False
True
False

In [71]:
x=10
print(x)

x -=2            #x=x-2, x=10-2
print(x)

x *=5            #X=X*5, X=8*5
print(x)

x//=3            #x//3, x=40//3
print(x)

x**=2            #x=x**2, x=13**2
print(x)

x%=4             #x=x%4, x=169%4
print(x)

x +=9
print(x)

x/=3             #x=x/3, x=10/3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [74]:
num = 9
if num<10:
  print("10 is greter than 9")

10 is greter than 9

In [75]:
user_id = "20BCA103"
password= 27894
if user_id== "20BCA103" and password== 27894:
  print("login successfully")

login successfully

In [76]:
ex = 46
if ex==45:
  print("are you understand")

In [79]:
name ="arpita"
if name<= "BCA":
  print("my name is arpita")

In [81]:
 num = int(input("enter a number value:"))
 if num >0:
  print("positive number")
 else:
  print("negative number ")

enter a number value:99
positive number

In [85]:
num = int(input("enter a number value:"))
if num % 2==00:
  print("even number")
else:
  print("odd number")

enter a number value:100007
odd number

In [89]:
num =int(input("enter a leap year value"))
if year % 4==0:
  print("leap year")
else:
  print("not leap year")

enter a leap year value2025
leap year

In [95]:
age= int(input("enter age value"))
if year >= 18:
  print("they are eligibl0e for voting")
else:
  print("they have to wait")

enter age value21
they are eligible for voting

In [96]:
password = int(input("enter the password"))
if password ==  23452:
  print("login successful")
else:
  print("login unsuccesful")

enter the password 133354
login unsuccesful

In [101]:
user_id = input("enter user_id value:")
password =int(input("enter password value:"))
if user_id == "college" and password== 1234 :
  print("login successfully")
else:
  print("invalid details")

enter user_id value:college
enter password value:1234
login successfully

In [111]:
prize = input("enter prize medal:")
if prize== "GOLD":
  print("first prize")
elif prize== "SILVAR":
  print("second prize")
elif prize== "BRONZE":
  print("third prize")
elif prize== "CERTIFICATE":
  print("Samadanakar bahumana")
else:
  print("bettet luck next chance")

enter prize medal:SILVAR
second prize

In [114]:
colour =input("enter the signal collor ")
if colour== "red":
  print("stop")
elif colour=="yellow":
  print("ready to go")
elif colour=="green":
  print("go")
else:
  print("invalid colour")

enter the signal collor pink
invalid colour