In [13]:
name = "kle bk bca college chikodi"
vowels='a','e','i','o','u'
for ch in range(len(name)):
  if name[ch] in vowels:
     print(name[ch])

e
a
o
e
e
i
o
i

In [14]:
name = "arpita prachi shayali shrikumari"
vowels='a','e','i','o','u'
for ch in range(len(name)):
  if name[ch] in vowels:
     print(name[ch])

a
i
a
a
i
a
a
i
i
u
a
i

In [15]:

name = "arpita"
vowels='a','e','i','o','u'
for ch in range(len(name)):
  if name[ch] in vowels:
     print(name[ch])

a
i
a

In [16]:
name = "Python programing languge"
vowels='a','e','i','o','u'
for ch in range(len(name)):
  if name[ch] in vowels:
     print(name[ch])

o
o
a
i
a
u
e

In [20]:
base =4
heigth =5
triangle =0.5**base*heigth
print("area of the triangle is:",triangle)

area of the triangle is: 0.3125

In [21]:
red =4
area =3.142*red**2
print("area of circle is:",area)

area of circle is: 50.272

In [23]:
wid = 25
heigth =50
area =wid*heigth
print("area of rectangle is:",area)

area of rectangle is: 1250

In [24]:
Area = 25
area = Area*Area
print("area of square is:",area)

area of square is: 625

In [26]:
ex =[5,15,25,35,105,45,55]
largest = max(ex)
print("the largest number is:", largest)

the largest number is: 105

In [34]:
ex =[1,25,75,34,56,87,100,125]
largest = max(ex)
print("the largest number is:", largest)

the largest number is: 125

In [42]:
from ast import Constant
#write a programe count of consonets in string value
#"bachelor of computer science first semester section c"
name = "bachelor of computer science first semester section c"
count =0
for ch in name:
    if ch not in "a e i o u":
        count +=1
print(count)

29

In [46]:
 bikes =["rx 100","gt 650","ninja","splender","bajaj","ns 200","m 80","unicorn"]
 for bike in bikes:
  if bike =="ns 200":
    break
  print(bike)

rx 100
gt 650
ninja
splender
bajaj

In [55]:
colours ={"purple","pink","gray","black","white","Red","Orangr"}
for colour in colours:
  if colour =="black":
    break
  print(colours)

{'gray', 'black', 'Red', 'purple', 'white', 'pink', 'Orangr'}

In [59]:
Fruits =["Apple","Banana","Mango","Strawberry","Dragon fruit","Greeps","Organe"]
for Fruits in Fruits:
    if Fruits=="Greeps":
      break
    print(Fruits)ex

Apple
Banana
Mango
Strawberry
Dragon fruit

In [58]:
0Fruits =["Apple","Banana","Mango","Strawberry","Dragon fruit","Greeps","Organe"]
for Fruits in Fruits:
    if Fruits=="Greeps":
      continue
    print(Fruits)

Apple
Banana
Mango
Strawberry
Dragon fruit
Organe

In [60]:
mobiles = ["Vivo","Red MI","OPPO","Vivo","I phone","POCO","Samsung","1 plus"]
for mobile in mobiles:
  if mobile =="Vivo":
    continue
  print(mobile)

Red MI
OPPO
I phone
POCO
Samsung
1 plus

In [62]:
movies=["Chhava","KGF","Premalu","RX 100","hum aap ke hai kon","Vivah","Sanam teri kasam","RRR","Ved","Stree"]
for movie in movies:
  if movie =="Sanam teri kasam":
    continue
  print(movie)

Chhava
KGF
Premalu
RX 100
hum aap ke hai kon
Vivah
RRR
Ved
Stree

In [95]:
for i in range(1,10):
  for j in range(i):
    print(j,end= " ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [123]:
for i in range(1,11):
  for j in range(j):
    print(i,end= " ")
  print()

In [124]:
for  i in range(1,11):
  for j in range(j):
    print(i,end="")
  print()