In [150]:
#adress=2021
print(3+3)

6

In [151]:
example = (1,"sarath",3.12,False)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[3])
print(example[-1])

(1, 'sarath', 3.12, False)
4
<class 'tuple'>
1
(1, 'sarath', 3.12)
False
False

In [152]:
number = (2,4,7,9,3,2)
print(number)
print(number[3])
add = (2,4,5,7)
print(number + add)
print(add * 4)
print(number * 3)

(2, 4, 7, 9, 3, 2)
9
(2, 4, 7, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)
(2, 4, 7, 9, 3, 2, 2, 4, 7, 9, 3, 2, 2, 4, 7, 9, 3, 2)

In [153]:
ex = {1,1,2,3,4,5,6,6,7}
print(ex)
print(type(ex))
print(len(ex))
ex.add("bkc")
print(ex)
ex.add(5.67)
print(ex)
ex.add("True")
print(ex)
ex.remove(4)
print(ex)
print(ex.pop())
print(ex)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'bkc'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'bkc'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'True', 'bkc'}
{1, 2, 3, 5, 6, 7, 5.67, 'True', 'bkc'}
1
{2, 3, 5, 6, 7, 5.67, 'True', 'bkc'}

In [154]:
first = {1,2,3,4,4,2}
second = {3,5,4,6}
print(first | second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first.difference(second))
print(first - second)
print(second - first)
print(second.difference(first ))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}
{5, 6}

In [155]:
dict = {"roll_number" :  201,
        "name"        : "arpita",
        "address"     : "sadalga",
        "CGPA"        :  8.56,
        "course"      : "BCA",
        "year"        :  2025}
print(dict)
print(len(dict))
dict["gender"]="female"
print(dict)
dict["mobile_no"] = 7996887185
print(dict)
dict["College"] = "KLE's BK college"
print(dict)
dict["PU College"] = "CLE PUcollege ckd"
print(dict)
dict["UNIVERSITY"] = "RCU Belgum"
print(dict)
del dict["gender"]
print(dict)
dict["gender"] ="female"
print(dict)
print(dict["College"])
dict["age"] = 18
print(dict)
print(dict["age"])
dict.pop("address")
print(dict)
dict.popitem()
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025}
6
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'gender': 'female'}
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'gender': 'female', 'mobile_no': 7996887185}
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'gender': 'female', 'mobile_no': 7996887185, 'College': "KLE's BK college"}
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'gender': 'female', 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd'}
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'gender': 'female', 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd', 'UNIVERSITY': 'RCU Belgum'}
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd', 'UNIVERSITY': 'RCU Belgum'}
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd', 'UNIVERSITY': 'RCU Belgum', 'gender': 'female'}
KLE's BK college
{'roll_number': 201, 'name': 'arpita', 'address': 'sadalga', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd', 'UNIVERSITY': 'RCU Belgum', 'gender': 'female', 'age': 18}
18
{'roll_number': 201, 'name': 'arpita', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd', 'UNIVERSITY': 'RCU Belgum', 'gender': 'female', 'age': 18}
{'roll_number': 201, 'name': 'arpita', 'CGPA': 8.56, 'course': 'BCA', 'year': 2025, 'mobile_no': 7996887185, 'College': "KLE's BK college", 'PU College': 'CLE PUcollege ckd', 'UNIVERSITY': 'RCU Belgum', 'gender': 'female'}
dict_keys(['roll_number', 'name', 'CGPA', 'course', 'year', 'mobile_no', 'College', 'PU College', 'UNIVERSITY', 'gender'])
dict_values([201, 'arpita', 8.56, 'BCA', 2025, 7996887185, "KLE's BK college", 'CLE PUcollege ckd', 'RCU Belgum', 'female'])
dict_items([('roll_number', 201), ('name', 'arpita'), ('CGPA', 8.56), ('course', 'BCA'), ('year', 2025), ('mobile_no', 7996887185), ('College', "KLE's BK college"), ('PU College', 'CLE PUcollege ckd'), ('UNIVERSITY', 'RCU Belgum'), ('gender', 'female')])
None

In [156]:
dict = {"emloyee_id"  :  101,
        "emloyee_name"        : "prutvi",
        "emloyee_address"     : "dattavad",
        "emloyee_department"  :  "casher",
        "emloyee_salory"      :  20000,
        "compny"              : "INFOSES",
        "pin_code"            :  591234,
        "Joining year"        :  2015}
print(dict)
print(len(dict))
dict["gender"]="male"
print(dict)
del dict["gender"]
print(dict)
dict["gender"] ="male"
print(dict)
dict["habit"] = "sleeping"
print(dict)
dict["e_mail"] = "prutvip10@gmail.com"
print(dict)
dict["age"] = 22
print(dict)
print(dict["age"])
dict.pop("compny")
print(dict)
dict.popitem()
dict["contry"] = "INDIA"
print(dict)
dict["employee_department"] = "testing"
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015}
8
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male'}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male'}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male', 'habit': 'sleeping'}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male', 'habit': 'sleeping', 'e_mail': 'prutvip10@gmail.com'}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'compny': 'INFOSES', 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male', 'habit': 'sleeping', 'e_mail': 'prutvip10@gmail.com', 'age': 22}
22
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male', 'habit': 'sleeping', 'e_mail': 'prutvip10@gmail.com', 'age': 22}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male', 'habit': 'sleeping', 'e_mail': 'prutvip10@gmail.com', 'contry': 'INDIA'}
{'emloyee_id': 101, 'emloyee_name': 'prutvi', 'emloyee_address': 'dattavad', 'emloyee_department': 'casher', 'emloyee_salory': 20000, 'pin_code': 591234, 'Joining year': 2015, 'gender': 'male', 'habit': 'sleeping', 'e_mail': 'prutvip10@gmail.com', 'contry': 'INDIA', 'employee_department': 'testing'}
dict_keys(['emloyee_id', 'emloyee_name', 'emloyee_address', 'emloyee_department', 'emloyee_salory', 'pin_code', 'Joining year', 'gender', 'habit', 'e_mail', 'contry', 'employee_department'])
dict_values([101, 'prutvi', 'dattavad', 'casher', 20000, 591234, 2015, 'male', 'sleeping', 'prutvip10@gmail.com', 'INDIA', 'testing'])
dict_items([('emloyee_id', 101), ('emloyee_name', 'prutvi'), ('emloyee_address', 'dattavad'), ('emloyee_department', 'casher'), ('emloyee_salory', 20000), ('pin_code', 591234), ('Joining year', 2015), ('gender', 'male'), ('habit', 'sleeping'), ('e_mail', 'prutvip10@gmail.com'), ('contry', 'INDIA'), ('employee_department', 'testing')])
None

In [157]:
Name ={"Name" :"Arpita",
       "name" :"Arpita",
       "F_name":"Arpita",
       "L_name": "Arpita"}
print(Name)

{'Name': 'Arpita', 'name': 'Arpita', 'F_name': 'Arpita', 'L_name': 'Arpita'}

In [158]:
a = 10
b = 3
c = a/b
a, b, c =2.5, 3.5, a+b
print(type(c))
print(type(a))
print(type(b))
print(c)

<class 'int'>
<class 'float'>
<class 'float'>
13

In [159]:
 a= 2.5
 b = 3.5
 c = a+b
 print(c)
 print(type(a))
 print(type(b))
 print(type(c))
 print(type(a+b))

6.0
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [160]:
i = 20
j =5.5
k = i+j
print(type(i+j))

<class 'float'>

In [161]:
#int-> float
a = 49
b = 7
print(type(a/b))

<class 'float'>

In [162]:
#int-> float
i = True
print(type(i))
j = 5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [171]:
m = 2.9
n = False
o = m - n
print(type(o))

p = True
q = False
r = p+q
print(type(r))

s = 2.6
t = False
print(type(s*t))

num= 3.12
print(type(num))

add = int(num)
print(type(add))
add = num
print(type(add))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>

In [172]:
#1) int-> float
#2) int->str
#3) int->bool
#4) bool-> int
#5) bool -> float
#6) bool-> str
#7) float-> int
#8) float->str
#9) float-> bool
#10) str -> int
#11) str -> bool
#12) str ->float

In [184]:
demo=1
print(type(demo))

demo=9.99
print(type(demo))

demo=False
print(type(float(demo)))

ex=float(demo)
print(ex)
#print(type(ex))

ex=str(demo)
print(type(ex))

ex=float(demo)
print(type(ex))

ex=bool(demo)
print(type(ex))

<class 'int'>
<class 'float'>
<class 'float'>
0.0
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
#str->list
#tuple-> list
#set-> list
#dict-> list

In [201]:
num1="arpita"
print(type(num))

ex1=list(num1)
print(type(ex1))

s=(1,2,3,4,5,)
print(type(s))

num={1,3,4,5}
print(type(num))

ex={True}
print(type(ex))

num4={}
print(type(num4))

ex4=list(num4)
print(type(ex4))

num2=[("a",1),("b",2),("c",3)]
print(type(num2))

num3=(1,2,3,4)
print(type(num3))

ex2=set(num2)
print(type(ex2))

#tuple->dict
num=(("name","arpita","age",18))
print(type(num3))

#list->dict
num44={("roll_number",46),("section","C")}
print(type(num44))

<class 'tuple'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'set'>
<class 'dict'>
<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'tuple'>
<class 'set'>

In [215]:
A =10
B =20
print("before swapping")
print("A=",A,"B=",B)
print("==================")
print("after swapping")
temp = A
A=B
B=temp
print("A=",A,"B=",B,)

before swapping
A= 10 B= 20
==================
after swapping
A= 20 B= 10

In [219]:
A = 20
B = 30
print("before swapping")
print("A=",A,"B=",B,)

print("after swapping")
A=A+B
B=A-B
A=A-B
print("A=",A,"B=",B)

before swapping
A= 20 B= 30
after swapping
A= 30 B= 20